<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<h1>Use messaging to stay in contact with other CrowdCode users.</h1>
									
				</div><!-- /col-lg-6 -->
				<div class="col-lg-5">
					<img style="width:500px;height:500px;class="img-responsive" src="images/logo.png" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
<div class="well col-xs-6 col-xs-offset-3">
    <div class="row col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" role="form" id="postForm">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                    <textarea class="form-control required" style="min-width: 100%" rows="3" 	id="inputPost" placeholder="Got something to say?" maxlength="140"></textarea>
                        <label id="charRemaining" for="inputPost">140</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-3">
                    <!--Camera-->
                    <i class="fa fa-camera-retro fa-lg" aria-hidden="true"></i>
                </div>
                <div class="col-xs-3">
                    <!--Video-->
                    <i class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
                </div>
                <div class="col-xs-3">
                    <i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i>
                </div>
                <div class="col-xs-3">
                    <button type="text" class="btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row col-sm-8 col-sm-offset-2" id="feedPosts">
</div>
<div class="row col-sm-10 col-sm-offset-1">
    <button type="button" class="btn btn-primary" id="btn-count">
        Comments <span class="badge badge-light" id="count">0</span>
    </button>
</div>
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1 >Messaging Boards.</h1>
				<h3>CrowdCode is all about a community of people working together to create great projects.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4"> <a >
				<img src="images/wrench.png" width="180" alt=""></a>
				<h4>1 - Create</h4>
				<p>Team up with likeminded people to create new and exciting products.</p>
			</div><!--/col-lg-4 -->
			<div class="col-lg-4">
				<img src="images/talking.jpeg" width="180" alt="">
				<h4>2 - Talk to others</h4>
				<p>Communicate with other creators and contributors.</p>
			</div><!--/col-lg-4 -->
			<div class="col-lg-4">
				<img src="images/succeed.png" width="180" alt="">
				<h4>3 - Succeed!</h4>
				<p>Succeed in making your vision come to life!</p>
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
