<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "4aec75f8-7377-43ec-9de4-7051a5851087",
    });
  });
</script>
<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Make your software<br/>
					dreams a reality</h1>
					 <button class="btn btn-warning btn-lg"><a href="/users/login" style = "color:white;">Become a Creator Today!</a></button>
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="images/Code_Crowd_small.png" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>What is Code Crowd? </h1>
				<h3> Have a great idea for a piece of software or app but don't have the time or skills necessary to make it a reality. Code Crowd provides a social platform for you to share your ideas with skilled programmers who can turn your idea into a working product.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="images/Sharing.png" width="180" height = "180" alt="">
				<h4>1 - Share Your Ideas</h4>
				<p>Share your ideas with a wide network of skilled programmers or take on a project as a creator.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="images/Come Together.png" width="180" height = "180" alt="">
				<h4>2 - Come Together. </h4>
				<p>Through our private messageing and comment systems contributors and creators can easily interact and work together.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="images/rocket.png" width="180" height = "180" alt="">
				<h4>3 - Bring your ideas to life! </h4>
				<p>Creators and Contributors can work together to bring ideas that would never have been fulfilled and turn them into new and exciting software.</p>
		

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
				  <button class="btn btn-warning btn-lg"><a href="/users/login" style = "color:white;">Become a Contributor Today!</a></button>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>The Code Crowd Team.</h1>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img class="img-circle" src="images/Colin.jpg" width="140" alt="">
				<h4>Colin Roche</h4>
					<p><a href ="https://www.linkedin.com/in/colin-roche-2b4a8313b/" target = "blank"> <i class="glyphicon glyphicon-globe"></i></a></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="images/Noel.jpg" width="140" alt="">
				<h4>Noel Minogue</h4>
				<p><a href ="https://www.linkedin.com/in/noel-minogue-aaba6813b/" target = "blank"> <i class="glyphicon glyphicon-globe"></i></a></p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img class="img-circle" src="images/Carlo.jpg" width="140" alt="">
				<h4>Carlo McGinley</h4>
				<p><a href ="https://www.linkedin.com/in/carlo-mac-fhionnghaile-7417a1140/" target = "blank"> <i class="glyphicon glyphicon-globe"></i></a></p>
			</div><!--/col-lg-4 -->
		
		
			<div class="col-lg-4">
				<img class="img-circle" src="images/Chris.jpg" width="140" alt="">
				<h4>Chris Mullins</h4>
				<p><a href ="https://www.linkedin.com/in/chris-mullins-664a6913b/" target = "blank"> <i class="glyphicon glyphicon-globe"></i></a></p>
			</div><!--/col-lg-4 -->
			</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">				
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
		<p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div><!-- /container -->
	
