<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="443114871654-3j3uucbvhif1b1f8ss4o2jrdom53cj62.apps.googleusercontent.com">
<script>
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
</script>

<div class="col-md-8 col-md-offset-2">
    <h2>Login</h2>
    <form class="form-horizontal" role="form" id="log-form">
        <div class="form-group mt">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <label for="inputUsername" class="control-label">Username</label>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control input-lg required" id="inputUsername" placeholder="@username">
            </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                <label for="inputPassword" class="control-label">Password</label>
            </div>
            <div class="col-sm-9">
                <input type="password" class="form-control input-lg required" id="inputPassword"
                       placeholder="Password">
            </div>
			</div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-4">
			<div class = "col-sm-3">
                <button type="submit" class="btn btn-warning btn-lg" onclick = "login();">Login</button>	
	        </div>
            <div class = "col-sm-9">			
                <div class="g-signin2" data-onsuccess="onSignIn" onclick = "login();"></div>	
                 <script>
				function login(){
				 $(location).attr('href', '/feed' ); // Redirect to logged in page
<<<<<<< HEAD
=======
				 $('.logout').css('display','block');
>>>>>>> d2bbe289804b13d1dcb44bc9f6e0afea74e35e0b
				 }
				 </script>				
            </div>
			</div>
        </div>
    </form>
</div>
